<div class="container mt-4">
  <h2>Mis Monedas</h2>

  <div *ngIf="this.loading" class="icon">
    <div class="spinner-border" role="status" >
      <span class="sr-only" id="loading"></span>
    </div>
  </div>

  <div>

    <div *ngIf="!this.loading && this.favList.length<1" class="alert alert-warning alert-dismissible fade show mt-4 mb-2" role="alert">
      <strong>No tienes monedas!</strong> Selecciona monedas como favoritas para poder gestionarlas y generar alertas.
      <div class="mt-2"><button [routerLink]="['/coins']" class="btn btn-outline-dark">Ir a Monedas</button> </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <table *ngIf="!this.loading && this.favList.length>0"  class="table table-dark table-hover align-middle mt-4">
    <thead class="bg-dark">

      <th></th>
      <th><label><i *ngIf="(auth.isAuthenticated$ | async)" class="far fa-star"></i></label></th>
      <th > <label>Símbolo</label> </th>
      <th > <label>Nombre</label> </th>
      <th > <label>Precio</label> </th>

      <th></th>
    </thead>
    <tbody>

      <tr *ngFor="let coin of coinList">
        <!-- <td>
          <i class="far fa-star"></i>
          <i class="fas fa-star"></i>
        </td> -->
        <td></td>
        <td style="height: 60px">
          <div class="page__toggle">
            <label class="toggle" placement="left"
            [ngbTooltip]="includesCoin(coin) ? 'Quitar de favoritas' : 'Agregar a favoritas'">
              <input
                class="toggle__input"
                type="checkbox"
                (change)="favoriteCoin(coin)"
                [checked]="includesCoin(coin)"
              />

              <span class="toggle__label"> </span>
            </label>
          </div>
        </td>
        <!-- <td style="height: 60px"></td> -->
        <td [routerLink]="['/coins/', coin.id]">
          <img
            *ngIf="coin.symbol"
            src="assets/svg/icon/{{ coin.symbol?.toLowerCase() }}.svg"
            alt="coin"
            style="width: 25px; height: auto"
          />

          <button class="btn-1">
            {{ coin.symbol }}
          </button>
        </td>
        <td style="padding-left: 0.1rem;" >
          <button class="btn-1" [routerLink]="['/coins/', coin.id]">
            {{ coin.name }}
          </button>
        </td>
        <td class="text-start">
          {{ coin.avgPrice | currency }}
        </td>
        <td>
          <div>
            <button class="btn btn-outline-light mr-4 me-4"
            placement="top"
            ngbTooltip="Agregar alertas por mail"
            (click)="openModal( coin)"
            >
            Alertas</button>
            <i *ngIf="this.includesAlertCoin(coin)" class="fas fa-bell fa-lg "  ngbTooltip="Notificacion activa"></i>

          </div>

        </td>
        <!-- <td>
          <i class="far fa-edit"></i>
        </td> -->
      </tr>
    </tbody>
  </table>



  <!--template para modal-->
  <ng-template #content let-modal let-test>
    <div class="modal-header">
      <h4 class="modal-title">Eliminar alerta</h4>
      <button type="button" class="btn btn-light" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
      <div>{{test}}</div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

    <!--Boton del modal-->
  <!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">
    Modal vertically centered</button> -->

</div>
