<div class="row mt-2">
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/coins">Coins</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ coin.name }}
      </li>
    </ol>
  </nav>

  <div class="row align-items-start">
    <div class="row">
      <div class="row"></div>

      <div class="row mt-2 mb-2">
        <h2></h2>
        <h2>
          <img
            *ngIf="coin.symbol"
            src="assets/svg/color/{{ coin.symbol?.toLowerCase() }}.svg"
            alt="btc"
            style="width: 45px; height: auto"
          />
          {{ "  " }}
          <span class="font-weight-bold">{{ coin.name }}</span>
        </h2>
      </div>

      <div class="row justify-content-start">
        <div class="col-4">
          <h5>{{ coin.symbol }}</h5>
        </div>
        <div class="col-4 text-center">
          <a href="{{ coin.wikiUrl }}" class="url">+ Info: Wikipedia</a>
        </div>
        <div class="col-4">
          <h2 class="text-end">{{ coin.avgPrice | currency }}</h2>
        </div>
        <div class="col-4 text-right">
          <h6>{{ coin.description }}</h6>
        </div>
      </div>
    </div>
    <div class="row align-items-start mt-4 mb-4">
      <div class="col">
        <label>Seleccione exchange</label>
        <ng-select
          [(ngModel)]="selected"
          (ngModelChange)="onSelectExchange($event)"
          [searchable]="false"
          [clearable]="false"
        >
          <ng-option *ngFor="let exchange of exchanges" [value]="exchange.id">
            {{ exchange.name }}
          </ng-option>
        </ng-select>


      </div>
      <div class="col">
        <label>Seleccione rango</label>
        <ng-select
          [(ngModel)]="last"
          (ngModelChange)="onSelectRange($event)"
          [searchable]="false"
          [clearable]="false"
        >
          <ng-option *ngFor="let range of ranges" [value]="range.value">
            {{ range.name }}
          </ng-option>
        </ng-select>


      </div>
    </div>
  </div>

  <div id="chart"  *ngIf="prices.length > 0 && exchanges.length > 0">
    <h5>Grafico</h5>

    <app-chart id="in-chart" [datos]="prices"></app-chart>
  </div>
</div>
<hr/>

<div *ngIf="exchanges.length > 0" class="container mt-4">

  <h4>Exchanges para {{coin.name}}</h4>

  <table class=" table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Url</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>



      <tr *ngFor="let ex of this.exchanges">
        <th scope="row"> {{this.exchanges.lastIndexOf(ex)+1}}</th>
        <td>{{ex.name}}</td>
        <td>{{ex.url}}</td>
        <td>{{ex.lastPrice | currency}}</td>


      </tr>

    </tbody>
  </table>
</div>
