<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hero-text">
        <h2>Currency <span>Dashboard</span> <br> Para IAW</h2>
        <h4>Seguimiento de criptomonedas y exchanges personalizado  </h4>
        <form class="hero-subscribe-from">
          <!-- <input type="text" placeholder="Enter your email"> -->
          <button class="site-btn sb-gradients">Comenzar</button>
        </form>
      </div>
      <div class="col-md-6">
        <img src="assets/laptop.png" class="laptop-image" alt="">
      </div>
    </div>
  </div>
</section>




