
::ng-deep body {
    /* background: rgb(83, 40, 201); */
    /* background: linear-gradient(rgb(149, 76, 221) 40%, teal);*/
    /* background-image: url("./hero-bg.png"); */

    /* height: 900px;
	padding-top: 260px;
	/* display: block; */
	/* background-image: url("./hero-bg.png");
	background-size: cover;
	background-color: linear-gradient(rgb(149, 76, 221) 40%, teal);
	background-position: right top;
	background-repeat: no-repeat; */
	/* position: relative;
	overflow: hidden;
  } */

  background-image:
  linear-gradient(to bottom, rgba(126, 22, 230, 0.685)40%, rgba(26, 156, 173, 0.73)),
  url("./hero-bg.png");
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;


}

.hero-section {
	/* height: 900px; */
	/* padding-top: 260px;

  background-repeat: no-repeat;
	position: relative;
	overflow: hidden; */

  height: auto;
	/* padding-top: 260px; */
	display: block;

	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.hero-section .laptop-image {
	width: 685px;
	max-width: 90%;
	position: relative;
	left: 50px;
  padding-top:150px;
}

.hero-text {
	padding-top: 60px;
}

.hero-text h2 {
	font-size: 70px;
	margin-bottom: 35px;
}

.hero-text h2 span {
	color: #72fdf4;
}

.hero-text h4 {
	color: #d3e0e4;
	font-size: 22px;
}

.hero-subscribe-from {
	margin-top: 50px;
	display: block;
}

.hero-subscribe-from input {
	width: 315px;
	border: 1px solid #ebebeb;
	background: #fff;
	height: 48px;
	padding: 0 25px;
	border-radius: 50px;
	font-family: "Futura", sans-serif;
	font-size: 16px;
	margin-right: 8px;
	margin-bottom: 20px;
}


/*---------------------
	Commom elements
-----------------------*/

/* Buttons */

.site-btn {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	border-radius: 50px;
	font-family: "Futura", sans-serif;
	min-width: 170px;
	text-align: center;
	border: 2px solid #7ad4cc;
	cursor: pointer;
	color: #fff;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.no-radius {
	border-radius: 2px;
}

.site-btn.sb-full-- {
	display: block;
	width: 100%;
	border-radius: 0;
}

.site-btn.sb-gradients {
	padding: 17px 32px;
	border: none;
	color: #fff;
}

.site-btn.sb-gradients.sbg-line {
	color: #20509e;
	z-index: 1;
}

.site-btn.sb-gradients.sbg-line:after {
	position: absolute;
	content: '';
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background: #fff;
	top: 2px;
	left: 2px;
	z-index: -1;
	border-radius: 50px;
}

.site-btn.sb-gradients.sbg-line:hover {
	color: #20509e;
}

.gradient-bg,
.site-btn.sb-gradients,
.member-social a:hover,
.single-blog-page .social-share a:hover,
.comment .comment-content .c-btn:hover,
.comment-form label {
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#2b57ce), color-stop(100%, #2dd3aa), color-stop(100%, #2dd3aa), to(#2dd3aa));
	background: -o-linear-gradient(left, #2b44ce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
	background: linear-gradient(to right, #2b51ce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e2bce', endColorstr='#2dd3aa', GradientType=1);
	/* IE6-9 */
}


.site-btn.sb-gradients:hover{
  background: -webkit-gradient(linear, left top, right top, from(#2b57cece), color-stop(100%, #187b8d), color-stop(100%, #2dd3aa), to(#2dd3a9c7));
	background: -o-linear-gradient(left, #6a2bce 0%, #2dd3d3 100%, #2dd3aa 100%, #199e7db4 100%);
	background: linear-gradient(to right, #642bce 0%, #2dd3d3 100%, #2dd3aa 100%, #20a181ad 100%);
}


/* Image Popup */

.img-popup-warp .mfp-content,
.img-popup-warp.mfp-ready.mfp-removing .mfp-content {
	opacity: 0;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
