
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      Proyecto desarrollado para
    </p>

    <ul class="content__container__list">
      <li class="content__container__list__item">Ingeniería</li>
      <li class="content__container__list__item">de</li>
      <li class="content__container__list__item">Aplicaciones</li>
      <li class="content__container__list__item">Web</li>
    </ul>
  </div>
</div>
