<div class="container mt-4">
  <h2>Exchanges</h2>
  <div class="col col-4 mt-4 mb-2">
    <button
      *ngIf="auth.isAuthenticated$ | async"
      type="button"
      class="btn btn-outline-dark"
      [routerLink]="['/exchanges/new/', selected]"
    >
      Agregar
    </button>
  </div>
  <div class="col col-4 mt-2">
    <label>Seleccione una criptomoneda</label>

    <ng-select
      [(ngModel)]="selected"
      (ngModelChange)="onSelectExchange($event)"
    >
      <ng-option *ngFor="let coin of coinList" [value]="coin.id">
        {{ coin.name }}
      </ng-option>
    </ng-select>
  </div>
</div>



<!-- <hr /> -->



<div *ngFor="let exchange of exchangeList">
  <hr />

  <div class="card mb-4 mt-4" >
    <div class="card-body" >
      <h5 class="card-title">Nombre: {{ exchange.name }}</h5>
      <p class="card-text">Url: {{ exchange.url }}</p>


      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="toggle-1" title="Script">
          <ng-template ngbPanelContent>
            <div>
              <ngx-codemirror
                [(ngModel)]="exchange.script"
                [options]="{
                  lineNumbers: true,
                  theme: 'material',
                  mode: 'javascript',
                  readOnly: true
                }"
              ></ngx-codemirror>

            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <div class="col mt-4">
        <button class="btn btn-outline">
          <i
            *ngIf="auth.isAuthenticated$ | async"
            (click)="clickMethod(exchange.id!)"
            class="far fa-trash-alt"
          ></i>
        </button>
      </div>



    </div>
  </div>
</div>
<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Advertencia</h4>
    <button type="btn btn-light" class="btn btn-light" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Desea realmente eliminar este exchange?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Close click')">Cancelar</button>
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Close click')">Si</button>
  </div>
</ng-template>
