<div class="container mt-4">
  <div>
    <button
      *ngIf="auth.isAuthenticated$ | async"
      type="button"
      class="btn btn-outline-dark"
      routerLink="/coins/new"
    >
      Agregar
    </button>
  </div>

  <table class="table table-dark table-hover align-middle mt-4">
    <thead class="bg-dark ">
      <th></th>
      <th><i *ngIf="(auth.isAuthenticated$ | async)" class="far fa-star"></i></th>
      <th>Simbolo</th>
      <th class="text-start">Nombre</th>
      <th>Precio</th>
      <th></th>
    </thead>

    <tbody>
      <tr *ngFor="let coin of coinList">
        <!-- <td>
          <i class="far fa-star"></i>
          <i class="fas fa-star"></i>
        </td> -->
        <td ></td>
        <td style="height: 60px">
          <div *ngIf="(auth.isAuthenticated$ | async)" class="page__toggle">

              <label class="toggle" placement="bottom" [ngbTooltip]="includesCoin(coin) ? 'Quitar de favoritas' : 'Agregar a favoritas'">

              <input
                class="toggle__input"
                type="checkbox"
                (change)="favoriteCoin(coin)"
                [checked]="includesCoin(coin)"
              />

              <span class="toggle__label"> </span>
            </label>
          </div>
        </td>
        <!-- <td style="height: 60px"></td> -->
        <td [routerLink]="['/coins/', coin.id]">
          <img
            *ngIf="coin.symbol"
            src="assets/svg/icon/{{ coin.symbol?.toLowerCase() }}.svg"
            alt="coin"
            style="width: 25px; height: auto"
          />

          <button class="btn-1">
            {{ coin.symbol }}
          </button>
        </td>
        <td class="text-start" [routerLink]="['/coins/', coin.id]">
          <button class="btn-1">
            {{ coin.name }}
          </button>
        </td>
        <td  class="text-start  ">
          {{ coin.avgPrice | currency }}
        </td>
        <td >
          <button class="btn-1" >
            <i
            *ngIf="auth.isAuthenticated$ | async"
            (click)="clickMethod(coin.id!)"
            class="far fa-trash-alt"
            ></i>
          </button>
        </td>
        <!-- <td>
          <i class="far fa-edit"></i>
        </td> -->
      </tr>
    </tbody>
  </table>


</div>



<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Advertencia</h4>
    <button type="btn btn-light" class="btn btn-light" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Desea realmente eliminar la moneda?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Close click')">Cancelar</button>
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Close click')">Si</button>
  </div>
</ng-template>
