

<header class="p-3 bg-dark text-white">
  <div class="container ">
    <div class="d-flex  justify-content-between align-items-center ">


      <ul class="nav ">
        <li>
        </li>

        <li><a routerLink="/coins" class="nav-link px-2 text-white">Coins</a></li>
        <li><a routerLink="/exchanges" class="nav-link px-2 text-white">Exchanges</a></li>
        <li><a routerLink="/about" class="nav-link px-2 text-white">About</a></li>


      </ul>
      <div class="p2" >

        <h5>
          <button routerLink="/coins" class="btn-1">CryptoMarketsIAW</button>
        </h5>
      </div>



      <div class="d-flex flex-row">
        <button *ngIf="!session" routerLink="/login" type="button" class="btn btn-outline-light me-2">Login</button>
        <button *ngIf="userName && session" type="button" class="btn btn-outline-light me-2">{{userName}}</button>
        <button *ngIf="session" (click)="logout()" type="button" class="btn btn-outline-light me-2">LogOut</button>
      </div>

    </div>
  </div>
</header>
