.btn-1 {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: aliceblue;
}

 .nav-link:active{
  color: rgb(104, 50, 223)!important;
}

.nav-link {
  color: rgb(224, 224, 224)!important;

}

.nav-link:hover {
  color: rgb(200, 174, 255)!important;

}





