

<header class="p-3 bg-dark ">
  <div class="container ">
    <div class="d-flex  justify-content-between align-items-center ">


      <ul class="nav ">
        <li>
        </li>

        <li><a routerLink="/coins" class="nav-link px-2 ">Coins</a></li>
        <li><a routerLink="/exchanges" class="nav-link px-2 ">Exchanges</a></li>
        <li *ngIf="(auth.isAuthenticated$ | async)"><a routerLink="/mycoins" class="nav-link px-2">Mis Monedas</a></li>
        <li><a *ngIf="(auth.isAuthenticated$ | async)" routerLink="/profile" class="nav-link px-2 ">Mi perfil</a></li>

        <li><a routerLink="/about" class="nav-link px-2 ">About</a></li>


      </ul>
      <div class="p2" >

        <h5>
          <button routerLink="/coins" class="btn-1">CryptoMarketsIAW</button>
        </h5>
      </div>



      <div class="d-flex flex-row">

        <ngx-avatar class="me-3" size="50" [name]="userName"></ngx-avatar>
        <button *ngIf="!(auth.isAuthenticated$ | async)" class="btn btn-outline-light me-2" (click)="login()">Login</button>
        <button *ngIf="(auth.isAuthenticated$ | async)"class="btn btn-outline-light me-2" (click)="logout()">Logout</button>
      </div>

    </div>
  </div>
</header>
